/* --- CODE RESPONSIVE CHO CÁC THIẾT BỊ --- */
/* 1. Cấu hình cho Máy tính bảng (Tablet) & Màn hình nhỏ hơn 768px */
@media screen and (max-width:768px){
  body{padding:10px;}
  .container{padding:15px;}
  h1{font-size:20px;}
  th,td{padding:10px 8px;font-size:16px;}
  .badge-tinh,.badge-tw{font-size:14px;}
}
/* 2. Cấu hình cho Điện thoại (Mobile) dưới 576px */
@media screen and (max-width: 576px) {
  .col-type{display: none;}
  .sub-tag-tinh-cu{display: block;}
  .col-map{display: none;}
  .subtitletab{display: none;}
  table.main-table{ overflow-x: auto; }
  table.main-table::-webkit-scrollbar{height: 5px; background-color: #e4eaef; border-radius: 5px;}
  table.main-table::-webkit-scrollbar-thumb{background-color: #0288d1; border-radius: 5px;}
}
@media screen and (max-width: 375px) {
  h1{font-size:18px;}
  .subtitle{font-size:15px;}
}